{% extends "groups/base.html" %}
{% block pregroup %}
<div class="col-md-12">
    <h1>{{ group.name }}</h1>
</div> 
<div class="col-md-12">
    <h2>Member Count: {{ group.members.count }}</h2>
</div> 

<div class="col-md-12">
    <div class="content">
        {% if user in group.members.all %}
        <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">
            <span class="glyphicon glyphicon-remove-circle"></span> 
            Leave
        </a>

        {% else %}
        <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">
            <span class="glyphicon glyphicon-ok-circle"></span> 
            Join
        </a>
        {% endif %}
    </div>
</div>

{% endblock pregroup %}

{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}
		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}
	{% endif %}
</div>
{% endblock %}